body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

header {
  background-color: #555;
  color: #fff;
  padding: 1em;
}

section {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}

.social-links {
  margin-top: 20px;
}

.chatbot {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}

.game {
  position: fixed;
  bottom: 90px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@keyframes slideIn {
  from {
      right: -60px; /* Start off-screen to the right */
  }
  to {
      right: 20px; /* Move to the desired position */
  }
}

.social-links a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

.social-links a img {
  max-width: 20px; /* Adjust the size as needed */
}

.logo {
  max-width: 100px; /* Adjust the size as needed */
}
